@import url(./fonts-imports.css);
@import url(./components/header.css);
@import url(./components/introduction.css);
@import url(./components/main.css);

:root
{
    --blue-light: #0000EE;
    --blue-middle-dark: #133F6B;
    --blue-dark: #032742;
    --yellow: #FBB814;
    --red: #E70000;
    --black-gray: #212121;
    --black-light: #767676;
    --black-transparent: #000000af;
    --white: #F5F5F5;

    --font-primary: 'MuseoSans'/* , Helvetica, Arial, sans-serif */;
    --font-secundary: 'Ubuntu', 'Ubuntu-Mono'/* , sans-serif */;
}

*, *::before, *::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    background-color: var(--black-gray);
    background-image: url(../source/images/introducion-images/sp-top-vision-light-gg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: overlay;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1600px;
    height: 100%;
    padding: 0px 1%;
    margin: 0px auto;
    background-color: var(--black-gray);
    background-color: transparent;
    color: white;

    text-decoration: none;
    font-family: var(--font-secundary);
    font-style: normal;
    font-weight: bold;

    overflow-x: hidden;
}

.flex-cl
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a
{
    color: white;
    text-decoration: none;
}

.hr-line
{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #00000000, #fff, #00000000);
}